<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP 완벽 가이드 - HTTP URL</title>
</head>
<body>
<h1>HTTP URL</h1>
<a href="/">돌아가기</a>
<hr>
<p>● http : <a href="http://www.naver.com">http://www.naver.com</a></p>
<p>● https : <a href="https://mazdah.tistory.com">https://mazdah.tistory.com</a></p>
<p>● mailto : <a href="mailto:mazdah@innotree.com">mailto:mazdah@innotree.com</a></p>
<p>● ftp : <a href="ftp://localhost/">ftp://localhost/</a></p>
<p>● file : <a href="file:///Users/mazdah/ftp_root/고등수학개념공식총정리.pdf">file:///Users/mazdah/ftp_root/고등수학개념공식총정리.pdf/pdf</a></p>
</body>
</html>
