<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTTP 완벽 가이드 - 웹 리소스</title>
</head>
<body>
<h1>웹 리소스</h1>
<a href="/">돌아가기</a>
<hr>
<h3>정적 리소스들</h3>
● text : <a href="/testresources/webresource.txt">webresource.txt</a>
<br>
● HTML : <a href="/testresources/webresource.html">webresource.html</a>
<br>
● MS Powerpoint : <a href="/testresources/INNOTREE_ppt_템플릿.pptx">INNOTREE_ppt_템플릿.pptx</a>
<br>
● PDF : <a href="/testresources/자주 사용하는 IntelliJ 단축키 정리.pdf">자주 사용하는 IntelliJ 단축키 정리.pdf</a>
<br>
● 이미지 : <a href="/testresources/IMG_0141.PNG">IMG_0141.PNG</a>
<br>
● 동영상 : <a href="/testresources/IMG_0145.MOV">IMG_0145.MOV</a>
<br>
<h3>동적 리소스</h3>
<input type="text" id="fnum"> + <input type="text" id="snum"> <button id="equal">=</button> <div id="addresult" style="display: inline-block; border: 1px solid #000; width: 80px;">&nbsp;</div>

<script src="resources/js/lib/jQuery/jquery-3.6.0.min.js"></script>
<script src="/js/webres/httpresources.js"></script>
</body>
</html>
